.App {
  text-align: center;
  /* overflow: hidden;  */
}

.App-logo {
  height: 5rem;
  margin: 0.5rem
}

.App-header {
  background-color: #282c34;
  min-height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1.5rem);
  color: white;
}

.App-link {
  color: #09d3ac;
}
